.wrapper {
	--width: 50vw;

	position: relative;
	z-index: 1;

	.firstLayer {
		position: absolute;
		top: calc(((var(--width) * 1.25) - var(--width)) / 2);
		width: var(--width);
		aspect-ratio: 1 / 1;
		background-color: var(--color-main-red);
		// clip-path: circle(40% at 0% 50%);
		z-index: 1;
	}

	.secondLayer {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(var(--width) * 1.25);
		aspect-ratio: 1 / 1;
		clip-path: circle(50% at 0% 50%);
		background-color: rgb(215 15 62 / 10%);
		z-index: 0;
	}
}
