.wrapper {
	width: 100vw;
	background: var(--color-main-dark);

	.absoluteMenu {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.hero {
		width: 100%;
		height: 90svh;
		position: relative;
		z-index: 0;

		h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			transform: translate(-50%, -50%);
			color: var(--color-white);
			z-index: 5;
		}

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: rgb(12 25 35 / 60%);
			z-index: 1;
		}

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	.projectInfo {
		color: var(--color-white);
		background: var(--color-main-dark);
		height: 10svh;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.arrowLeft {
			width: min(3vw, 2rem);
		}

		a {
			width: 35%;
			display: flex;
			align-items: center;
			color: var(--color-white);
			text-decoration: none;

			&:hover {
				color: var(--color-main-red);
				fill: var(--color-main-red) !important;
			}

			span {
				margin-left: min(2vw, 2rem);
			}
		}

		a:hover > .arrowLeft {
			fill: var(--color-main-red) !important;
		}
	}

	.projectDescription {
		margin: var(--standart-sections-margin);
		background: var(--color-main-dark);
		color: var(--color-white);
		margin-bottom: min(15vw, 15rem);
	}

	.gallery {
		display: grid;

		.galleryImage {
			position: relative;
			margin-bottom: min(15rem, 15vw);

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				border-radius: 30px;
			}

			&:nth-child(even) {
				width: 45%;
			}

			&:nth-child(odd) {
				width: 60%;
				place-self: end;
			}

			&:nth-child(4n + 2) {
				width: 75%;
			}

			&:first-child {
				width: 80%;
				place-self: center;
			}
		}
	}
}
