.wrapper {
	--gap: clamp(3rem, 5vw, 8rem);
	--full: minmax(var(--gap), 1fr);
	--content: min(130rem, 100% - var(--gap) * 2);
	--popout: minmax(0, 8rem);
	--feature: minmax(0, 12rem);

	width: 100%;
	display: grid;
	grid-template-columns:
		[full-start] var(--full)
		[feature-start] var(--feature)
		[popout-start] var(--popout)
		[content-start] var(--content) [content-end]
		var(--popout) [popout-end] var(--feature) [feature-end] var(--full) [full-end];

	& > * {
		grid-column: content;
	}
}
