.wrapper {
	height: 200vh;
	background: var(--color-main-background);

	.heroSection {
		grid-column: feature-start / full-end;
		display: grid;
		grid-template-columns: 1fr 50vw;
		gap: 5rem;
		align-items: center;

		h1 {
			margin-left: 2.5vw;
			color: var(--color-main-dark);
		}

		.headerImage {
			position: relative;
			width: 100%;
			aspect-ratio: 963 / 699;
			border-radius: 50px 0 0 50px;

			.arrowDown {
				color: var(--color-white);
				width: 5vw;
				height: 5vw;
				fill:  var(--color-white);
			}

			button {
				--button-size: 10vw;
				border: none;
				cursor: pointer;
				width: var(--button-size);
				aspect-ratio: 1 / 1;
				border-radius: 50%;
				background-color: var(--color-main-red);
				position: absolute;
				top: 10%;
				left: calc((var(--button-size) / 2) * -1);
			}

			img {
				max-height: 90vh;
				object-fit: cover;
				border-radius: 50px 0 0 50px;
			}
		}
	}
}
